body {
h2 {
	text-align: center;
	color: #000; 
	text-transform: uppercase;
	font: Arial;
	font-size: 30px;
}

.prvired, .drugired, .trecired, .cetvrtired{
	display: inline-flex;
	width:100%;
	height: 50px;
	margin:0px;
	display: flex;
	border: 1.5px solid #135e96;
} 

.usluga, .cijena, .kolicina, .ukupno{
	text-align: center;
	color: #000;
	font: Arial;
	font-size: 20px;
	background-color: #85d0e0;
	font-weight: bold;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px; 
}
.usluga {
	width: 40%;
}
.kolicina {
	width: 30%;
}

.cijena, .ukupno {
	width: 15%;
}

.ukupno {
	text-align: right;
}

.brojrezervacije, .datum, .brojosoba, .cijenaeuri, .nocenje, .ukupnoeuri {
	text-align: center;
	color: #000;
	font: Arial;
	font-size: 20px;
	background-color: #0000;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px; 
}

.brojrezervacije {
	font-weight: bold;
	width: 10%;
}

.datum {
	width: 18%;
}

.brojosoba {
	width: 7.85%;
}

.cijenaeuri {
	width: 14.35%;
}

.nocenje {
	width: 28.65%;
}

.ukupnoeuri{
	width: 14.3%;
	background-color: #def0f8;
	text-align: right;
}

.trecired {
	height: 50px;
}

.ukupno1 {
	width: 88%;
	text-align: left;
	color: #000;
	font: Arial;
	font-size: 20px;
	background-color: #85d0e0;
	font-weight: bold;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px; 
}

.ukupno2{
	width: 15%;
	text-align: left;
	color: #000;
	font: Arial;
	font-size: 20px;
	background-color: #85d0e0;
	font-weight: bold;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px; 
}

.uplata, .nacinplacanja, .vrijemeplacanja, .iznos{
	text-align: center;
	color: #000;
	font: Arial;
	font-size: 20px;
	background-color: #85d0e0;
	font-weight: bold;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px; 
}

.uplata{
	font-weight: bold;
	width: 20%;
}
.nacinplacanja{
	font-weight: bold;
	width: 30%;
}
.vrijemeplacanja{
	font-weight: bold;
	width: 30%;
}
.iznos{
	font-weight: bold;
	width: 20%;
}


.predujam, .vrijemepredujma, .iznospredujma, .ostatak, .vrijemeostatka, .iznosostatka{
	text-align: left;
	color: #000;
	font: Arial;
	font-size: 20px;
	font-weight: bold;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px;
}

.predujam{
	text-align: left;
	font-weight: bold;
	width: 20%;
}
.kartica{
	text-align: center;
	font-weight: bold;
	width: 30%;
	font: Arial;
	font-size: 20px;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px;
}
.vrijemepredujma{
	text-align: center;
	width: 30%;
	font: Arial;
	font-size: 20px;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px;
}
.iznospredujma{
	text-align: right;
	width: 20%;
	font: Arial;
	font-size: 20px;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px;
}

.ostatak{
	text-align: left;
	width: 20%;
	font: Arial;
	font-size: 20px;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px;
}
.vrijemeostatka{
	text-align: center;
	width: 30%;
	font: Arial;
	font-size: 20px;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px;
}
.iznosostatka{
	text-align: right;
	width: 20%;
	font: Arial;
	font-size: 20px;
	border: 1.5px solid #135e96;
	height: 40px;
	padding: 10px 10px 0px 10px;
	margin:0px;
}
}


